{% extends "base.html" %}
{% block content %}

 
  <div class="row card blue-grey lighten-4">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" name="first_name" type="text" class="validate black_text" minlength="1" 
          maxlength="15" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="last_name" class="validate" minlength="1" 
          maxlength="15" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="profession" name="profession" type="text" class="validate" minlength="5" 
          maxlength="100">
          <label for="profession">Profession</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="available_now" type="text" name="available_now" class="validate" minlength="1" 
          maxlength="4" required>
          <label for="available_now">Are you available to work now?</label>
        </div>
      </div>
     <div class="row">
        <div class="input-field col s12">
          <input id="available_date" type="text" name="available_date" class="datepicker" required>
          <label for="available_date">When are you available?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="telephone" type="number" name="telephone" class="validate" minlength="10" 
          maxlength="12" required>
          <label for="telephone">Telephone Number:</label>
        </div>
      </div>
     <div class="row">
          <div class="input-field col s12">
            <input id="skills" type="text" name="skills" class="validate" minlength="1" maxlength="200">
            <label for="skills">Skills:</label>
          </div>
        </div>
         <div class="row">
          <div class="input-field col s12">
            <input id="locations" type="text" name="locations" class="validate" minlength="2" 
            maxlength="50" required>
            <label for="locations">Location Availability:</label>
          </div>
        </div>
      </div>
    </form>
  </div>
        
{% endblock %}