{% extends "base.html" %}
{% block content %}
<!--form-->

<h2 class="center-align">Edit Your Profile</h2>

  <div class="container">
  <div class="row card blue-grey lighten-4 edit-card m10">
 <form class="col s12 m12" method="POST" action="{{ url_for('edit_jobs', job_id=job._id) }}">
        <!---first name -->
    <label for= "image_url">Please upload a photo</label>
       <input class="file-field input-field" type="text" id="image_url" name="image_url" value="{{job.image_url }}">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" name="first_name" value="{{ job.first_name }}" type="text" class="validate black_text" minlength="1" 
          maxlength="15" required>
          <label for="first_name">First Name</label>
        </div>
        <!---last name -->
        <div class="input-field col s6">
          <input id="last_name" type="text" name="last_name" value="{{ job.last_name }}" class="validate" minlength="1" 
          maxlength="15" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <!---profession-->
      <div class="row">
        <div class="col m12">
       <select id="profession" name="profession" class="validate" required>
        <option value="" disabled>Choose Profession Type</option>
         {% for profession in professions %}
            {% if profession.profession_type == job.profession %}
                <option value="{{ profession.profession_type }}" selected>{{ profession.profession_type}}</option>
            {% else %}
                <option value="{{ profession.profession_type }}">{{ profession.profession_type }}</option>
            {% endif %}
          <label for="profession">Profession</label>
    </div>             
{% endfor %}
</div>
    </select>
      <!---availability-->
      <div class="row">
          
        <div class="input-field col s12">
          <input id="available_now" type="text" name="available_now" value="{{ job.available_now }}" class="validate" minlength="1" 
          maxlength="4" required>
          <label for="available_now">Are you available to work now?</label>
        </div>
      </div>
      <!---available date-->
     <div class="row">
        <div class="input-field col s12">
          <input id="available_date" type="text" name="available_date" value="{{ job.available_date}}" class="datepicker" required>
          <label for="available_date">When are you available?</label>
        </div>
      </div>
      <!---telephone number-->
      <div class="row">
        <div class="input-field col s12">
          <input id="telephone" type="number" name="telephone" value="{{ job.telephone }}" class="validate" minlength="10" 
          maxlength="12" required>
          <label for="telephone">Telephone Number:</label>
        </div>
      </div>
      <!--skills-->
     <div class="row">
          <div class="input-field col s12">
            <input id="skills" type="text" name="skills" value="{{ job.skills }}" class="validate" minlength="1" maxlength="200">
            <label for="skills">Skills:</label>
          </div>
        </div>
        <!--locations-->
         <div class="row">
          <div class="input-field col s12">
            <input id="locations" type="text" name="locations" value="{{ job.locations }}" class="validate" minlength="2" 
            maxlength="50" required>
            <label for="locations">Location Availability:</label>
          </div>
          <!--submit button-->
           <a href="{{ url_for('get_jobs') }}" class="btn waves-effect waves-light">
               Cancel Edit 
           </a>
            <button class="btn waves-effect waves-light" type="submit">
    <i class="fas fa-edit left">Edit Your Profile</i> 
  </button>
        </div>
      </div>
    </form>
  </div>
</div>

        
{% endblock %}