{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 text center-align ">Profiles</h3>
<p class="info-header italic col m10"> Here you can find and connect with talented members of the film industry. Search key words in skills, locations and experience to find the right profiles </p>

    <div class="row card-panel rounded-border grey lighten-1 search-bar">
        <form action="{{ url_for('search_bar') }}" method="post" class="col s12 m12 center-align">
            <div class="row valign-wrapper center-align search-link">
                <div class="input-field col s12 m8 search-link">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="querying" id="querying" minlength="2" class="validate" required>
                    <label for="querying">Search Profiles</label>
                </div>

      <div class="col s12 m6">
           <a href="{{ url_for('get_jobs') }}" class="red btn text-shadow">Reset</a>
                 <button type="submit" class="light-blue darken-1 btn text-shadow">
                       <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br>
    {% if jobs|length > 0 %}
 <div class="row">
     {% for job in jobs %}
     <div class="profile-info">
      <div class="col s12 m6">
         <div class="card profile">
            <div class="card-image hoverable">
              </div>
           <img src="{{ job.image_url }}" width="100%"> 
        <br>
    <span class="card-title black-text"><strong>Name:</strong>  {{ job.first_name }} &ensp; {{ job.last_name }}</span>

    <div class="card-content cyan hoverable">

  <ul class="collapsible box">
    <li>
        <div class="collapsible-header"><strong>  <i class="fa fa-bars" aria-hidden="true"></i>Professional Experience / Availability / Locations </strong></div>
               <div class="collapsible-body"> 
                <div class="highlight"><strong>Available Now:</strong>&emsp; {{ job.available_now}}</div>
                 <div class="highlight"><strong>Profession:</strong>&emsp; {{ job.profession}}</div>
                 <div class="highlight"><strong>Location Availability:</strong>&emsp; {{ job.locations}}</div>
                   <strong>Skills/Experience: </strong>  <span>{{ job.skills}} 
                     {% if job.available_now == "Yes" %}
                   <div><strong>My Telephone Number:</strong> &nbsp {{ job.telephone }} &nbsp
                 <i class="fas fa fa-phone light-blue-text text-lighten-2 tooltipped"
              data-position="right" data-tooltip="I am available to call!"></i></div>
           {% else %}
        {% endif %}
     <!----test-->
<br>
      <div class="col s3">
                    
        {% if session.user|lower == job.created_by|lower %}
             <div class="button">
                  <a href="{{ url_for('delete_job', job_id=job._id) }}" class="btn-small grey lighten-1 black-text">Delete</a> 
                <a href="{{ url_for('edit_jobs', job_id=job._id) }}" class="btn-small grey lighten-1 black-text edit">Edit</a>
             </div>
        {% endif %} 
        </div>
   </div>
      </div>
         </div>
            </div>
         {% endfor %}
      </div>
</ul>
</span></div>
</li>
</ul>
{% else %}
<h4 class="black-text text-darken-4 center-align">No Results Found</h4>
 {% endif %}

    {% endblock %}