{% extends "base.html" %}
{% block content %}

 <h4 class="center-align">Create An Account</h4>

      <div class="row">
        <div class="col s12">
            <p class="center-align">
                Are you already registered?
                <a href="{{ url_for('login') }}" class="blue-grey lighten-4">Log In</a>
            </p>
        </div>
    </div>

<!---username-->
  <div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('registration') }}">
      <div class="card blue-grey lighten-4">
        <div class="card-content white-text">
            <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-lock prefix black-text text-darken-4"></i>
                   <input id="username" name="username" type="text" minlength="6"
                            maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate">
                 <label for="username">Username</label>
              </div>
           </div>
           <!---password-->
                <div class="row">
                  <div class="input-field col s12">
                     <i class="fa fa-unlock-alt prefix black-text text-darken-4"></i>
                <input id="password" name="password" type="password" minlength="6"
                            maxlength="15" pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
            <label for="password">Password</label>
        </div>
      </div>
      <!--registration-->
       <div class="row">
                    <button type="submit" class="col s10 btn-large white offset-m1 darken-2 text-shadow">
                        <span class="button">Register</span><i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
        </div>
      </div>
    </form>
  </div>

  {% endblock %}