{% extends "base.html" %}
{% if session.user|lower == jobs.created_by|lower %}
{% block content %}

{% for job in jobs %}
<section class="profile-background">
<h3 class="profile-header">{{ username }}'s Profile </h3>

<p class="profile-decription">Welcome to your profile page {{ job.first_name}}! Here you can see how your personal profile is looking. </p>

<div class="row">
    <div class="col s10 m8 offset-m2">
      <div class="card horizontal">
        <div class="card-image profile-card">
          <img src="{{ job.image_url }}">
        
        </div>
        <div class="card-content">
          
        <p class="profile-page"><span class="red-text lighten-1 profile-name"> TV/film professional </span><span class="name">{{ job.first_name }}      {{ job.last_name }}</span><hr><br>
            <span class="red-text lighten-1">Profession Area:</span> {{ job.profession }} <br>
            <span class="red-text lighten-1">Available To Work Now:</span> {{ job.available_now }} <br>
            <span class="red-text lighten-1">Availability Date:</span> {{ job.available_date }} <br>
            <span class="red-text lighten-1">Your Telephone Number :</span> {{ job.telephone }} <br>
            <span class="red-text lighten-1">Your Skills:</span> {{ job.skills }} <br>
            <span class="red-text lighten-1">Locations you are availaable to work in:</span> {{ job.locations }}
        </p>

        <div class="button center-align">
          <a href="{{ url_for('delete_job', job_id=job._id) }}" class="btn-small grey lighten-1 black-text">Delete</a> 
        <a href="{{ url_for('edit_jobs', job_id=job._id) }}" class="btn-small grey lighten-1 black-text edit">Edit</a>
      </div>

        </div>
      </div>
    </div>
  </div>
      </section>
{% endfor %}
{% endblock %}
{% endif %}
